<!--view detail post-->
@model MvcPost.Models.Post
@{
    ViewData["Title"] = "Details";
}
<h3 class = "text-center mt-5 mb-5">Details</h3>
<div class="card detailed-post mb-3">
  <div class="card-header d-flex flex-row align-items-center">
    <div class = "avatar mr-3">
          <img src="~/@Model.User.Avatar" class = "img-avatar">
    </div>
    <a asp-controller="User" asp-action="Index" asp-route-id="@Model.User.Id">
      @Html.DisplayFor(model => model.User.Username)
    </a>
    
  </div>
  <div class="card-body">
    <h4 class = "text-center mb-3">@Html.DisplayFor(model => model.Title)</h4>
    <p class="card-text">Description: @Html.DisplayFor(model => model.Description)</p>
    <p class="card-text">@Html.DisplayFor(model => model.Text)</p>
  </div>
  
</div>
<div id = "post-comment-area" class="card detailed-post pt-4 pb-4 mb-5">
  @await Html.PartialAsync("_Comments")
</div>